body {
  background-color: #ebf2fa;
}
h1 {
  color: #780000;
  font-family: h1fonte, Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: -20px;
}
h2 {
  color: #0077b6;
  font-family: h2fonte, Arial, Helvetica, sans-serif;
}
h3 {
  color: #780000;
  font-family: h2fonte, Arial, Helvetica, sans-serif;
}
p,
ol,
ul,
table,
a {
  color: #000000;
  font-family: pfonte, Arial, Helvetica, sans-serif;
}
p {
  margin: 8px;
}
@font-face {
  font-family: h1fonte;
  src: url(fontes/super_mindset/Super\ Mindset.ttf);
}

@font-face {
  font-family: h2fonte;
  src: url(fontes/MADE\ Tommy\ Soft\ Medium\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: pfonte;
  src: url(fontes/tt_interphases_pro/TT\ Interphases\ Pro\ Trial\ Medium.ttf);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #57abd8;
  padding: 20px;

  position: relative;
}
.spiderman{
    width: 100px;
    height: auto;
    
    position: absolute;
    left: 390px;
}

.header-texto{
    text-align: center;
}

button {
  background-color: #0077b6;
  font-family: h2fonte, Arial, Helvetica, sans-serif;
  width: 150px;
  height: 30px;
  color: #1a2341;
  font-size: 16px;
  border-radius: 10px;
}
button:hover {
  color: aliceblue;
}
.destaquereceitas {
  text-align: center;
  background-color: #851818da;
  color: #57abd8;
}

.preparocake {
  width: 700px;
}
.ingredientescake{
    max-width: 500px;
    align-content: middle;
    padding-top: 89px;
}
table {
  width: 50%;
  border-radius: 15px;
  background: rgb(206, 218, 255);
  border-radius: 12px;
}

th {
  background: #b23a48;
  color: white;
  padding: 15px;
  border-radius: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.preparolasanha {
  background-color: #92caffda;
  color: #67b7e2;
  padding: 20px;
  height: 740px;
  border-color: #1a2341;
  border-width: 5px;
  border-style: dashed;
  width: 700px;
}

footer {
  border-radius: 15px;
  width: 40%;
}
footer:hover {
  color: #780000;
}
.itens.bolo {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.bolobb{
    width: 400px;
    border-radius: 20px;
    display: block;
}
.imglasanha{
    width: 400px;
    border-radius: 15px;
}
.cakecontainer{
    display: flex;
    align-items: flex-start;
    gap: 100px; 
    background-color: #dddddd;
    padding-left: 20px;
}
.cakechocolate{
    padding-bottom: 30px;
}
.cakecont2 {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  background-color: #92caffda;
  padding: 10px;
  border: 5px dashed #1a2341;
}
.tabelacake {
  min-width: 300px;
}

.tabelacake table {
  width: 100%;
}

.tabelacake {
  width: 750px;
  padding-top: 0px;

}
